// START Hero

.hero
  color: $textColor1
  text-shadow: 2px 2px 1px $shadowColor

  +below($phoneWidth)
    .content.column1
      margin-top: 4rem

  +below($tabletWidth)
    .content.column1
      h1
        display: none

  &:before
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-image: url(/img/hero1.jpg)
    background-position: center
    background-size: cover
    filter: grayscale(30%) brightness(60%)
    z-index: -1
    animation-duration: $transitionTime * 2
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards

  &.img1
    &:before
      background-image: url(/img/hero1.jpg)
    &:after
      background-image: url(/img/hero3.jpg)
      animation-name: fade-out
  &.img2
    &:before
      background-image: url(/img/hero2.jpg)
      filter: grayscale(30%) brightness(60%) contrast(60%)
    &:after
      background-image: url(/img/hero1.jpg)
      animation-name: fade-out
  &.img3
    &:before
      background-image: url(/img/hero3.jpg)
    &:after
      background-image: url(/img/hero2.jpg)
      filter: grayscale(30%) brightness(60%) contrast(60%)
      animation-name: fade-out

  &.animation-clear.animation-clear.animation-clear
    &:after
      animation-name: ''
      opacity: 0

  #checkout
    width: 100%

    .button
      margin-top: .5rem

// END Hero

// START Support

.support
  color: $textColor2

  .content
    margin: 3rem 0

    .eth-donation
      > *
        display: inline-block

      .address
        border: 1px solid $textColor2

// END Support
