// START Header

header
  .logo-link
    font-family: 'Teko', sans-serif
    font-size: 2rem

    display: inline-block
    height: $headerHeight
    line-height: $headerHeight

  .mobile-menus
    display: none

// END Header

// START Hero

.hero
  height: 100vh

  +below($phoneWidth)
    height: auto
    padding-bottom: 1rem
    padding-top: 1rem

// END Hero

// START Button

// Resolve astley and shop.js things
.button.button.button
  line-height: 3rem
  width: 100%

:disabled
  filter: grayscale(75%) !important
  top: 0 !important

// END Button

// START Footer

footer
  background-color: #333
  .logo-link
    font-family: 'Teko', sans-serif

// END Footer

