// START Header

header
  .logo-link
    font-family: 'Teko', sans-serif
    font-size: 2rem

    display: inline-block
    height: $headerHeight
    line-height: $headerHeight

  .mobile-menus
    display: none

// END Header

// START Hero

.hero
  height: 100vh

  +below($phoneWidth)
    height: auto
    padding-bottom: 1rem
    padding-top: 1rem

// END Hero

// START Button

// Resolve astley and shop.js things
.button.button.button
  line-height: 3rem
  width: 100%

:disabled
  filter: grayscale(75%) !important
  top: 0 !important

// END Button

// START CopyBox

copybox
  .copy-message
    color: #009688

// END CopyBox

// START Footer

footer
  background-color: #333
  .logo-link
    font-family: 'Teko', sans-serif

  .logos
    width: 100%

    .logo-link:last-child
      float: right
      text-align: right
      transform: translateY(-10px)

      font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif

      .logo-image
        height: 40px

// END Footer

