// START Inputs

.input.input.input
  color: $textColor1

  .label
    color: $textColor1

  textarea
  select
  input
    color: $textColor1
    border-color: $textColor1

    &:-moz-placeholder
      color: $textColor1

    &::-moz-placeholder
      color: $textColor1

    &:-ms-input-placeholder
      color: $textColor1

    &::-webkit-input-placeholder
      color: $textColor1

  option
    color: $textColor2
    background-color: $backgroundColor2

.checkbox.checkbox
  label
    color: $textColor1
    border-color: $textColor1

    &:before
      border-color: $textColor1 !important

// END Inputs

// START Checkout and Cart

checkout
  background-color: rgba(0,0,0,.5)
  color: $textColor1

  h3
    margin: 0

  .part2
    *
      margin-bottom: .5rem

    .address
      padding: .5rem 1rem
      border: 1px solid $textColor1

cart
  padding-left: 0
  padding-right: 0
  color: $textColor1
  background: none

  lineitem
    padding: 0

  .total
    *
      float: right

    .usd-price
      clear: both

    .text
      margin-right: 1rem

// END Checkout and Cart
