checkout(data-analytics-ignore)
  h3 Reserve your tickets today
  user-email.input(label='Your Email', placeholder='your@email.com')
  user-name.input(label='Your Name', placeholder='Your Name')

  cart
    lineitems
      .product-quantity-container
        quantity-select.input
      .product-text-container
        strong.product-name
          | { data.get('productName') }
        .product-slug
          | { data.get('productSlug') }
        .product-description(if="{ data.get('description') }")
          | { data.get('description') }
    .total
      .price
        | { data.get('order.total') / 1e9 } ETH
      strong.text
        | TOTAL

  terms.checkbox
    label(for='terms')
      | I have read and accept the&nbsp;
      a(href='{ termsUrl }', target='_blank') terms and conditions

  .button.important(
    class='{ loading: loading || checkedOut }'
    disabled='{ loading || checkedOut }'
    onclick='{ submit }'
  ) CHECKOUT
  .error(if='{ errorMessage }') { errorMessage }
