extends /astley.js/src/templates/layout.pug

block style
  link(
    href="https://fonts.googleapis.com/css?family=Teko:400"
    rel="stylesheet"
    )

block pageId
  #index

block content
  hero.hero.columns
    .content.column1
      h1 CRYPTO UNDERGROUND
      h3
        | The meetup for cryptocurrency
        br
        | traders, investors, hackers
        br
        | and enthusiasts
      p
        | Next Meetup is on Tuesday, November 14, 2017
        br
        br
        | Featured Speaker:
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;Bill Barhydt, Founder and CEO of Abra
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;Followed by breakouts and open networking

    .content#checkout
