extends /astley.js/src/templates/layout.pug

block style
  link(
    href="https://fonts.googleapis.com/css?family=Teko:400"
    rel="stylesheet"
    )

block pageId
  #index

block content
  hero.hero.columns
    .content.column1
      h1 CRYPTO UNDERGROUND
      h3
        | The meetup for cryptocurrency
        br
        | hackers and investors
      p
        | Next Meetup is on October 31st 2017
        br
        | Featured Speaker: SOME ONE

    .content#checkout
